/* -margin- */
.m-0 {
  margin: 0px;
}
.m-1 {
  margin: 1px;
}

.m-24 {
  margin: 24px;
}
/* =margin= */

/* -margin-top- */

.mt-auto {
  margin-top: auto;
}

.mt-3 {
  margin-top: 3px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

/* =margin-top= */

/* -margin-right- */

.mr-auto {
  margin-right: auto;
}

.mr-2 {
  margin-right: 2px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-6 {
  margin-right: 6px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-22 {
  margin-right: 22px;
}

.mr-32 {
  margin-right: 32px;
}

/* =margin-right= */

/* -margin-bottom- */

.mb-auto {
  margin-bottom: auto;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

/* =margin-bottom= */

/* -margin-left- */

.ml-auto {
  margin-left: auto;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-28 {
  margin-left: 28px;
}

.ml-32 {
  margin-left: 32px;
}

/* =margin-left= */

/* -margin-y- */
.my-14 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
/* =margin-y= */

/* -margin-x- */

.mx-12 {
  margin-right: 12px;
  margin-left: 12px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}

/* =margin-x= */
